<!-- Nav Bar/Sidebar -->
<nav class="navbar navbar-expand-md bg-light navbar-light shadow px-5">
    <a class="navbar-brand" href="#"><i class="fas fa-check-circle fa-fw"></i>MTV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item brand">
                <a class="navbar-brand px-2" href="#">MTV</a>
                <span class="float-right p-2" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <i class="fas fa-times fa-fw" style="font-size: x-large;"></i>
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy and Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>